.form.form {
    display: inline-block;
    height: calc(60% - 100px);
}
.form-row {
    display: inline-block;
    width: 100%; 
}
.form-row + .form-row {
    margin-bottom: 10px; 
}
input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: red;    
    line-height: 1.8em;
}
label {
    display: inline-block;
    width: 100%;
    color: grey;
    font-weight: 15px;
    font-size: 14px;
}
::placeholder {
    color: rgb(116, 106, 106);
    font-style: italic;
}
button {
    float: left;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(166, 224, 28);
    border: 1px solid blueviolet;
    color:white;
    font-size: 18px;
    line-height: 20px;
    border-radius: 21px;
    }