
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(100%-800px)/2;
    background-color: #40e754;
  }
.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    background-color: rgb(238, 25, 25);
    color:white;
}
.right-column {
    width: calc(60% - 100px);
    float: left;
    background-color: rgb(200, 248, 24);
}
.bottom-link {
    display: inline-block;
}
.bottom-link > a {
    display: inline-block;
    color:white;
}
.close {
    display: inline-block;
}
.form.form {
    display: inline-block;
    height: calc(60% - 100px);
}
.form.row {
    display: inline-block;
    width: 100%; 
}
.form.row + .form.row {
    margin-bottom: 40px; 
}
input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: red;    
    line-height: 1.8em;
}
label {
    display: inline-block;
    width: 100%;
    color: grey;
    font-weight: 15px;
    font-size: 14px;
}
button {

}
.form.row > span {

}
.form.row > a {
    
}
/* .pomidoras {
    background-color: red;
    padding: 20px;
    font-size: 16 px;
} 
    šią savybę galima pritaikyti daugeliui elemntui naudojant klases*/
/* .form.form{} peržiūrėti CSS selektorius
# kalba apie atributą ID. Patarimas nerašyti, nes ta taisyklė labai griežta. naudoti patariama tik pačiame HTML arba JavaScript.
body, body * tai reiškia, kad ima visus body elementus{ 
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    box-sizing: border-box;
} 
 */