body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box; 
}
.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc((100% - 800px) / 2);
    background-color: #40e754;
  }
.left-column {
    width: 40%;
    float: left;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(82, 25, 238);
    color:white;
    background-image: url(../img/hill.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.right-column {
    width: calc(60% - 100px);
    float: left;
    background-color: rgb(200, 248, 24);
}
.bottom-links {
    margin-top: 400px;
}
.bottom-links > a {
    display: inline-block;
    color:white;
}
.close {
    display: inline-block;
}
.form.form {
    display: inline-block;
    height: calc(60% - 100px);
}
.form-row {
    display: inline-block;
    width: 100%; 
}
.form-row + .form-row {
    margin-bottom: 10px; 
}
input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: red;    
    line-height: 1.8em;
}
label {
    display: inline-block;
    width: 100%;
    color: grey;
    font-weight: 15px;
    font-size: 14px;
}
button {
    float: left;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(166, 224, 28);
    border: 1px solid blueviolet;
    color:white;
    font-size: 18px;
    line-height: 20px;
    border-radius: 21px;
    }
.form-row > span {
    float: left;
    padding: 11px;
    line-height: 1,8em;
}
.form-row > a {
    float: left;
    padding: 11px; 
    line-height: 1,8em;
    text-decoration: none;
}


.form-row > a:hover {
  text-decoration: underline;
  color: red;
}
/* .pomidoras {
    background-color: red;
    padding: 20px;
    font-size: 16 px;
} 
    šią savybę galima pritaikyti daugeliui elemntui naudojant klases*/
/* .form.form{} peržiūrėti CSS selektorius
# kalba apie atributą ID. Patarimas nerašyti, nes ta taisyklė labai griežta. naudoti patariama tik pačiame HTML arba JavaScript.
body, body * tai reiškia, kad ima visus body elementus{ 
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    box-sizing: border-box;
} 
 absoliutus centriukas
{Position: absolute;
Top: 50%;
Left: 50%;
Transform, translate (-50% ; -50%) }

*/