
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc(100%-800px)/2;
    background-color: aqua;
  }
.left-column {
    display: inline-block;
    width: 40%;
    float: left;
    background-color: rgb(238, 25, 25);
}
.right-column {
    display: inline-block;
    width: calc(60% - 100px);
    float: left;
    background-color: rgb(200, 248, 24);
}
.bottom-link {
    display: inline-block;
}
.bottom-link > a {
    display: inline-block;
}
.close {
    display: inline-block;
}
.form.form {
    display: inline-block;
}
/* .pomidoras {
    background-color: red;
    padding: 20px;
    font-size: 16 px;
} 
    šią savybę galima pritaikyti daugeliui elemntui naudojant klases*/
/* .form.form{} peržiūrėti CSS selektorius
# kalba apie atributą ID. Patarimas nerašyti, nes ta taisyklė labai griežta. naudoti patariama tik pačiame HTML arba JavaScript.
body, body * tai reiškia, kad ima visus body elementus{ 
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    box-sizing: border-box;
} 
 */